.footer {
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #536976, #292e49);
  color: #fff;
}

.footer span {
  font-weight: 400;
  color: #61dafb;
}
